@import url(./fonts.css);
*{
    box-sizing: border-box;
    
}
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Manrope' sans-serif;
}


.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

}

html{
    background: rgb(240,243,245);
    background: linear-gradient(90deg, rgba(240,243,245,1) 0%, rgba(230,235,240,1) 100%);
}


.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .container .razdel {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
 

}

.header .container .razdel a{
    margin-right: 40px;
    text-decoration: none;
    color: black;
}
.header .container .razdel .razdel-click1:hover{
    color: rgb(255, 0, 0);
    transition: .3s;

}
.header .container .razdel .razdel-click2:hover{
    color: rgb(255, 0, 0);
    transition: .3s;

}
.header .container .razdel .razdel-click3:hover{
    color: rgb(255, 0, 0);
    transition: .3s;

}
.header .container .razdel .razdel-click4:hover{
    color: rgb(255, 0, 0);
    transition: .3s;

}
.header .container .razdel .razdel-click5:hover{
    color: rgb(255, 0, 0);
    transition: .3s;

}
.header .container .icons .icon{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    
   
}
.header .container .icons .icon .fa-sign-in{
    color: black;
    width: 17px;
    height: 16px;
    transition: .5s;
}
.header .container .icons .icon:hover .fa-sign-in{
    color: #ff0000;
    transition: .3s;  
}
.header .container{
    height: 60px;
    margin-bottom: 120px;
}

/*Главная*/
.kurs .container{
    display: flex;
    justify-content: space-between;
}
.kurs .container .fitnes .fitness-platform{
    font-family:'Montserrat';
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 35px;
}

.kurs .container .fitnes .grind{
    font-family:'Montserrat';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
   
}
.kurs .container .woman-fitness{
    width: 612px;
    height: 500px;
    background: url(../img/mypht.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    
}
/*Скилы*/
.kyrsi{
    margin: 60px 0 60px 0;
}
.kyrsi .container{
    display: flex;
    flex-direction: column;
    

}
.kyrsi .container .choice-kurs{
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 700;
   text-align: center;
}

.kyrsi .container .kurs{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.kyrsi .container .kurs .frst{
    width: 360px;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.kyrsi .container .kurs .frst .woman-yo{
    background: url();
    width: 186px;
    height: 238px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    
}
.kyrsi .container .kurs .frst .yo{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.kyrsi .container .kurs .scnd{
    width: 360px;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.kyrsi .container .kurs .scnd .woman-ras{
    background: url(../img/3.png);
    width: 238px;
    height: 238px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
}
.kyrsi .container .kurs .scnd .ras{
    font-family: 'Montserrat';
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.kyrsi .container .kurs .thd{
    width: 360px;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.kyrsi .container .kurs .thd .woman-hiit{
    background: url(../img/4.png);
    width: 186px;
    height: 238px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
}
.kyrsi .container .kurs .thd .hiit{
    font-family: 'Montserrat';
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*Портфолио*/
.howwork{
    margin-top: 100px;
}
.howwork .container{
    display: flex;
    flex-direction: column;
}
.howwork .container .big{
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}
.howwork .container .work{
    display: flex;
    justify-content: space-between;
}


.howwork .container .work .n1 h3{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}
.howwork .container .work .n1 h4{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.n1{
    width: 240px;
}

.n1 img {
    max-width: 100%;
}
.n1 img{
    border:solid 2px rgb(88, 86, 86);
    border-radius: 10px;
}
.n1 img:hover{
    border:solid 7px rgb(221, 125, 46);
    transition: .2s;
}
.karyera{
    margin-top: 100px;
}
.karyera .container .text .glavn{
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}
.karyera .container .text .vtor{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.fa-check{
    color: rgb(16, 150, 4);
}
/*Контакты*/
.kontacti .container{
    margin-top: 100px;
}
.kontacti .container .soc{
    display: flex;
    justify-content: center;
}
.kontacti .container .soc svg{
    width: 40px;
    margin-right: 20px;
}
/*обратная связь*/
.personal{
    margin-top: 100px;
    background-color: #504f4f;
}
.personal .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.personal .container .persobalpl{
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    color: aliceblue;
}
.personal .container .nametel{
    display: flex;
    justify-content: space-between;
    width: calc(100%/2.2);
    margin-bottom: 15px;
}
.personal .container .nametel h3{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: aliceblue;
}
.personal .container .nametel input{
    width: 250px;
    height: 54px;
    background: none;
    border-radius: 9px;
    border: 1px solid rgb(216, 216, 216);
    text-indent: 10px;
}
.personal .container .em{
    width: calc(100%/2.2);
}
.personal .container .em .mail{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: aliceblue;
}
.personal .container .em input{
    width: 100%;
    height: 54px;
    background: none;
    border-radius: 9px;
    border: 1px solid rgb(216, 216, 216);
    text-indent: 10px;
}
.personal .container .continue{
    width: 252px;
    height: 58px;
    color: rgb(255, 255, 255);
    border: 1px solid #ff0000;
    font-family:'Montserrat';
    font-size: 16px;
    font-weight: 600;
    border-radius: 9px;
    background-color:#ff0000;
    margin-top: 100px;
    margin-bottom: 100px;
}